// color text
$color-main:#2c4058;
$color-white:#ffffff;
$color-blue: #55b7ff;
$color-light-gray:#4b5562;
$color-violet:#7e5aff;


// color button
$color-button: #000000;

// font
$font-moncerat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-source: "source-sans-pro", sans-serif;








